[submodule "awesome/lain"]
	path = .config/awesome/lain
	url = https://github.com/copycat-killer/lain
[submodule "awesome/screenful"]
	path = .config/awesome/screenful
	url = https://github.com/dluksza/screenful
[submodule "awesome/sharedtags"]
	path = .config/awesome/sharedtags
	url = https://github.com/Drauthius/awesome-sharedtags
[submodule "qutebrowser/dracula"]
	path = .qutebrowser/dracula
	url = https://github.com/dracula/qutebrowser-dracula-theme
[submodule "pyenv"]
	path = .pyenv
	url = https://github.com/pyenv/pyenv
[submodule "personal/chaospy"]
	path = personal/chaospy
	url = https://github.com/jonathf/chaospy
[submodule "personal/numpoly"]
	path = personal/numpoly
	url = https://github.com/jonathf/numpoly
[submodule "personal/pyvroom"]
	path = personal/pyvroom
	url = https://github.com/VROOM-Project/pyvroom
[submodule "personal/tuppel.github.io"]
	path = personal/tuppel.github.io
	url = https://github.com/tuppel/tuppel.github.io
[submodule "source/qutebrowser"]
	path = source/qutebrowser
	url = https://github.com/qutebrowser/qutebrowser
	branch = qt6-v2
