configuration {
    font:                   "Anonymous Pro Regular 18";
    auto-select:            true;
    hide-scrollbar:         true;
    show-icons:             true;
    theme:                  "onedark";
}
